# Frontend (Vite) Variables
VITE_API_URL=https://tu-backend.onrender.com
# VITE_SUPABASE_URL=https://tu-proyecto.supabase.co
# VITE_SUPABASE_ANON_KEY=tu-anon-key

# Backend (Node.js) Variables
PORT=5005
DATABASE_URL=postgres://usuario:contraseña@servidor.supabase.co:6543/postgres
FRONTEND_URL=https://casatuti.vercel.app

# Web Push Keys
VAPID_PUBLIC_KEY=tu_vapid_public_key
VAPID_PRIVATE_KEY=tu_vapid_private_key
