# Puerto donde correrá el servidor backend
PORT=5000

# OPCIÓN A: Conexión mediante URL única (Recomendada para Supabase o Neon)
# Reemplaza con tu cadena de conexión real
DATABASE_URL=postgresql://postgres:Ctuti112614!@db.vljetkmhgyffopzvzvwf.supabase.co:6543/postgres


NEXT_PUBLIC_SUPABASE_URL="https://vljetkmhgyffopzvzvwf.supabase.co"
NEXT_PUBLIC_SUPABASE_ANON_KEY="sb_publishable_LSWU_UeOB0_q386p7dTNAg_E2YsXkUS"

SUPABASE_SERVICE_ROLE_KEY=sb_secret_tgW8rd8wNHQDbheYHMBw5A_fMolKBiw